.gallery-header {
    background: rgb(121,30,154);
    background: linear-gradient(90deg, rgba(121,30,154,1) 0%, rgba(113,253,216,1) 47%, rgba(243,69,142,1) 100%);
    background: url(/resources/speciality-cakes/FB-field-cake.JPG);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    height: 60vh;
    color: @black;
    margin-bottom: 5%;
    width: 100vw;
    border: 2px solid @black;

    .gallery-title {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: @black;


        @media @tablet{
            margin-top: 15%;
        }
        @media @phone {
            top: 83%;
        }
     
    }

    .gallery-h2{
        padding: 2%;
        margin-bottom: 15%;
        text-shadow: 2px 2px @white;
        font-weight: 900;
        font-size: 4rem;
    }
    .gallery-heading-text{
        font-weight: bold;
        text-shadow: 2px 2px @white;
        font-size: 3rem;
    }   
    .btn {
        font-size: 1.5rem;
        margin-top: 60%;
        
    }
    .dropdown-menu{
        background: @black;
        .dropdown-item {
            color: @white;
            font-size: 1.5rem;
            font-weight: bold;

            &:hover{
                color: @dark-pink;
            }
        }
    }
}

.image-gallery-section{
    margin: 5% 2%;

    .image-cards{
        overflow: hidden;
        margin: 2%;

        @media @tablet {
            margin: 2% auto;
            width: 60%;
            overflow: visible;
        }

        img{
            object-fit: fill;
            width: 250px;
            height: 250px;
            background: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.05);
            border-radius: 10%;
            margin: 2% 0;

            @media @tablet {
                width: 300px;
                height: 300px;
                padding-right: 2%;
                margin-right: 2%;
                
            }
        
        }
    }
}

.top {
    float: right;
    margin-right: 15%;
    font-size: 1.5rem;
    color: @black;
    

    &:hover{
    text-decoration: underline;
    color: @dark-pink;
    }
}