// Navigation code here

.nav-bar-container {
    .flex-box(flex, row, center, center);
    border: 2px solid @gray;
    width: 100vw;
    background: @black; 
      

    .logo {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

  .nav-bar {
      .flex-box(flex, column, center, center);  
      padding: 5%;
      width: 60%;
    
        @media @phone{
        width: 500px;
        }
  
        h1 {
        padding-bottom: 20px;
        color: @dark-pink;
        text-shadow: 2px 2px @purple;
        }
    
        a {
        font-size: 2.5rem;
        padding: 15px;
        text-decoration: none;
        color:@white;

        &:hover{
            color: @dark-pink;
            text-decoration: underline;
        }
    }
}  //closes nav-bar
} //closes nav-bar-container//

//header

.hm-header {
    background: rgb(121,30,154);
    background: linear-gradient(90deg, rgba(121,30,154,1) 0%, rgba(113,253,216,1) 47%, rgba(243,69,142,1) 100%);
    background: url(/resources/bg-images/chuttersnap-spoon-unsplash.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    height: 60vh;
    margin-bottom: 5%;
    width: 100vw;
    border: 2px solid @black; 
    opacity: 0.9;
    
    .title {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: 900;
        text-align: center;
        margin-top: 5%;
     }

     .hm-title{
        color: black;
        font-weight: 900;
    }
     .cap-rt {
         float: right;
     }
     span {
         font-weight: 600;
         font-size: 3rem;
     }
     h2 {
         padding: 2%;
         margin-bottom: 4%;
         text-shadow: 2px 2px #ffffff;
     }
     .hm-heading-text {
         line-height: 1.5;
         font-size: 3.5rem;
         font-weight: 900;
         letter-spacing: 0.1;
         text-shadow: 2px 2px #ffffff;
     }
}

