// Navigation code here

.nav-bar-container {
    .flex-box(flex, row, center, center);
    border: 2px solid @gray;
    width: 100vw;
    background: @black;
    
    @media @phone {
        flex-direction: column;
        justify-content: center;
    }
      

    .logo {
        width: 200px;
        height: auto;
        border-radius: 50%;
        
        @media @phone {
            width: 100px;
            
        }
    }

  .nav-bar {
      .flex-box(flex, column, center, center);  
      padding: 5%;
      width: 60%;
    
  
        h1 {
        padding-bottom: 20px;
        color: @dark-pink;
        text-shadow: 2px 2px @purple;
        }
    
        a {
        font-size: 2.5rem;
        padding: 15px;
        text-decoration: none;
        color:@white;

        &:hover{
            color: @dark-pink;
            text-decoration: underline;
        }
    }
}  //closes nav-bar
    .dropdown{
        display: none;

        @media @phone {
            display: block;
            margin: 1% auto;
        }
        .btn {
            background: @dark-pink;
            background: linear-gradient(90deg, rgba(243,69,142,1) 5%, rgba(27,214,165,1) 50%, rgba(121,30,154,1) 95%);
            font-size: 2rem;
            font-weight: 900;
            width: 200px;
            padding: 2%;
            border: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 0px 4px 20px rgba(0, 0, 0, 0.7);
            
        }

        .dropdown-menu{
            background: @black;
            width: 200px;

            .dropdown-item {
                font-size: 1.8rem;
                color: @white;
                padding: 3%;
    
                &:hover {
                    color: @dark-pink;
                }
            }
        }
        
       
    }

} //closes nav-bar-container//

//header

.hm-header {
    background: rgb(121,30,154);
    background: linear-gradient(90deg, rgba(121,30,154,1) 0%, rgba(113,253,216,1) 47%, rgba(243,69,142,1) 100%);
    background: url(/resources/bg-images/chuttersnap-spoon-unsplash.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    height: 60vh;
    margin-bottom: 5%;
    width: 100vw;
    border: 2px solid @black; 
    opacity: 0.9;

    @media @phone {
        height: 100vh;
    }
    
    .title {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: 900;
        text-align: center;
        margin-top: 5%;

        @media @tablet {
            margin-top: 0;
        }
        @media @phone {
            margin-top: 65%;
            top: 75%;
        }
     }

     .hm-title{
        color: black;
        font-weight: 900;
    }
     .cap-rt {
         float: right;
     }
     span {
         font-weight: 600;
         font-size: 3rem;
     }
     h2 {
         padding: 2%;
         margin-bottom: 4%;
         text-shadow: 2px 2px #ffffff;
     }
     .hm-heading-text {
         line-height: 1.5;
         font-size: 3.5rem;
         font-weight: 900;
         letter-spacing: 0.1;
         text-shadow: 2px 2px #ffffff;
     }
}

