
// Color Vars
@dark-pink: #f3458e;
@purple: #791e9a;
@teal: #71fdd8;
@brown: #702f05;
@white: #FFFFFF;
@black: #170312;
@gray: #C0BCB5;


// Mobile var
@phone: ~'(max-width:600px)';



//fonts
@main-font: 'Lato', sans-serif;

@heading-font: 'Berkshire Swash', cursive;